html{
    scroll-behavior:smooth;
}
body{
    font-family: "Comic Sans MS",sans-serif;
    background-color: gold;
    margin: 0;
}
h1,p,td{
    text-align: center;
}
h2{
    background:linear-gradient(60deg,orangered,greenyellow,forestgreen);
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px blanchedalmond;
}
table{
    width: 100%;
}
img{
    box-shadow: 0 0 10px olivedrab;
    border-radius: 10px;
}